@model Exilesoft.MyTime.ViewModels.EmployeeCoverageViewModel
@{
    ViewBag.Title = "New Attendance Record";
}
@{
    Layout = null;
}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<style>
    .tablink {
        background-color: #03040245;
        color: white;
        float: left;        
        outline: none;
        cursor: pointer;
        padding: 14px 16px;        
        width: inherit;
    }

    /*.tablink:hover {
            background-color: #777;
        }*/

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        color: white;
        display: none;
        padding: 100px 20px;
        height: 100%;
        margin-left:20px;
    }
</style>

<div id="DIV_PageInnerContent">
    <table class="clearTable" id="TBL_PageMainTable">
        <tr>
            <td class="left_hedder_inner">Coverage List
            </td>
            <td style="text-align: right; width: 15px;"></td>
        </tr>
        @* <tr  onclick="new HomeLogin().ShowCoverageListMoreThan100(this)" > <td>Coverage more than 100 %</td></tr>
        <tr  onclick="new HomeLogin().ShowCoverageListMore90Less100(this)" > <td>Coverage more than 90% > and less than 100% %</td></tr>
        <tr  onclick="new HomeLogin().ShowCoverageList90Less(this)" > <td>Coverage less than 90 %</td></tr>	*@



        <tr>

            <td colspan="2" style="padding-top: 10px;">


                <fieldset>
                    <legend>Employe Coverage List</legend>



                    <div style="padding-top: 15px;">



                        <table class="dataEntryTable" style="display: inline;">

                            @using (Html.BeginForm())
                            {
                                <tr>
                                    <td >
                                        <button id="More100" class="tablink" onclick="new HomeLogin().ShowCoverageListMoreThan100(this)">More 100 % </button>
                                        <button id="Between90&100" class="tablink" onclick="new HomeLogin().ShowCoverageListMore90Less100(this)">Between 90 % & 100%</button>
                                        <button id="LessThan90" class="tablink" onclick="new HomeLogin().ShowCoverageList90Less(this)">Less 90% </button>
                                    </td>
                                </tr> 
                                <tr>


                                    <td>

                                        <div id="webgridid">


                                            @{ var grid = new WebGrid(Model.employeeCoverageRowList, rowsPerPage: 100, canPage: false);}
                                            @MvcHtmlString.Create(grid.GetHtml(tableStyle: "webGrid", headerStyle: "webGridHeader", alternatingRowStyle: "webGridAlt",
                                                 htmlAttributes: new { id = "employeeGrid", width = "900px" },
                                                 columns: grid.Columns(
                                                 grid.Column(header: "Employee", format: @<text><p class="row-workingformhome">
                                                        <img src=@item.ImageUrl width="48">
                                                        <span>@item.EmployeeName</span>
                                                    </p></text>),
                     grid.Column(header: "Coverage", format: @<text> <span style="text-emphasis-color: red">@item.Coverage</span></text>),
             grid.Column(header: "WFH Percentage", format: @<text> <span style="text-emphasis-color: red">@item.WFHPercentage</span></text>)

        )).ToString())
                                        </div>


                                    </td>

                                </tr>
                                
                            }
                        </table>
                    </div>
                </fieldset>


            </td>

        </tr>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        if(@Model.TabCount==1){
            document.getElementById('More100').style.backgroundColor = "#777";
        }else if (@Model.TabCount==2){
            document.getElementById('Between90&100').style.backgroundColor = "#777";
        }else if (@Model.TabCount==3){
            document.getElementById('LessThan90').style.backgroundColor = "#777";
        }
             
    });
                               
</script>
